:root {
  --prim-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --prim-backg-color: #e5e5e5;
  --light-backg-color: #f5f4fa;
  --dark-backg-color: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--prim-text-color);
}
a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* ---Header--------------- */
.header {
  background-color: #ffffff;
}
/* --- LOGO --------------- */
.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-sp {
  font-family: Raleway, sans-serif;
  color: #000000;
}
.logo:hover .logo-sp {
  color: var(--accent-color);
}
.logo:focus .logo-sp {
  color: var(--accent-color);
}

/* --- header-list --------------- */
.header-list,
.header-connect {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.header-link {
  color: var(--title-text-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-link.current {
  color: var(--accent-color);
}
.header-connect-link {
  color: var(--prim-text-color);
}
.header-connect-link:hover,
.header-connect-link:focus {
  color: var(--accent-color);
}

/* --- hero ------------------ */
.hero {
  background-color: var(--dark-backg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
